/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
firebase.json
.env
.env.backup
.env.firebase
.env.production
.env.example
.env.firebase.json
firebase_credentials.json
firebase_credentials2.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
